<h1>Добро пожаловать!</h1>
    <p>Необходимо заполнить форму и зарегистрироваться:</p>
    <form action="" method="POST" onsubmit="return value_form();">
        <input type="text"     id="lastName"    name="lastName"     placeholder="Фамилия"><br>
        <input type="text"     id="firstName"   name="firstName"    placeholder="Имя">               
        <input type="text"     id="middleName"  name="middleName"   placeholder="Отчество">         
        <input type="email"    id="email"       name="email"        placeholder="name@domain.com">   
        <input type="password" id="pass"        name="pass"         placeholder="Пароль">           
        <input type="password" id="confirmPass" name="confirmPass" placeholder="Пароль еще раз">
        <input type="submit"   id="submit"      name="submit"             value="Зарегистрироваться">
    </form>